{% include 'header.html' %}
{% for applicant in actual %}
<div class="person">
  <div class="head">
    <h3>Person {{ applicant["person_id"] }}</h3>
    <br>
    <div class="eligibility-div">
      <span class="eligibility {{ 'error' if expected[applicant['person_id']] != applicant['is_eligible'] else 'correct' }}">
        Medicaid: {{ 'Yes' if applicant['is_eligible'] else 'No' }}
      </span>
      {% if applicant['is_eligible'] != 'None' %}
        <span class="threshold">Eligibility Threshold: {{ applicant["category_threshold"] }}</span>
        <span class="category">{{applicant["category"]}}</span>
      {% else %}
        <span class="category">No Category</span>
      {% endif %}
      {% if not applicant['medicaid_eligible'] %}
        <div class="eligibility-explanation">
          {% for reason in applicant['ineligibility_reasons'] %}
            <div>
              {{ reason }}
          </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% if not applicant['medicaid_eligible'] %}
      <div class="eligibility-div">
          <span class="eligibility">
            CHIP: {{ 'Yes' if applicant['chip_eligible'] else 'No' }}
        </span>
        {% if applicant['chip_eligible'] %}
          <span class="threshold">Eligibility Threshold: {{ applicant["chip_category_threshold"] }}</span>  
          <span class="category">{{applicant["chip_category"]}}</span>
        {% else %}  
          <span class="category">No Category</span>
        {% endif %}
        {% if not applicant['chip_eligible'] %}
          <div class="eligibility-explanation">
            {% for reason in applicant['chip_ineligibility_reasons'] %}  
              <div>
                {{ reason }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% if 'Emergency Medicaid' in applicant['positive_determinations'] %}
      <div class="eligibility-div">
        <span class=eligibility>Emergency Medicaid: Yes</span>
      </div>
    {% endif %}
    {% if 'Refugee Medical Assistance' in applicant['positive_determinations'] %}
      <div class="eligibility-div">
        <span class=eligibility>Refugee Medical Assistance: Yes</span>
      </div>
    {% endif %}
  </div>
  <div class="details">
    <h4>HOUSEHOLD: {{ applicant['household']['size'] }} People </h4>
    <h4>MAGI: {{applicant["household"]["magi"]}} ({{applicant["household"]["pfpl"]}}% of FPL)</h4>
    <h4>DETERMINATIONS</h4>
    <div class="determinations">
      <h5>Yes</h5>
      <ul>
        {% for title in applicant["positive_determinations"] %}
          <li>{{title}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="determinations">
      <h5>No</h5>
      <table>
        {% for title, determination in applicant["negative_determinations"]|items %}
          <tr>
            <td class="item">
              <b>{{title}}</b>
              <br>
              {{determination}}
            </td>
          </tr>
        {% endfor %}
      </table>
      </div>
      <div class="determinations">
        <h5>Not Applicable</h5>
        <ul>
          {% for title in applicant["na_determinations"] %}
            <li>{{title}}</li>
          {% endfor %}
        </ul>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
  
</div>
{% endfor %}
{% include 'footer.html' %}
